# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# uploads / temp audio
/tmp
/uploads
*.m4a

# editor
.vscode/
.idea/
.superpowers/
.next/
node_modules/
